# Ignore Play! working directory #
bin/
/db
.cache-main
.classpath
.project
LICENSE
/libexec
.eclipse
/.settings
.*.swp
*.swp
#/lib/
/logs/
/modules
/project/target
/project/project
/target
tmp/
test-result
server.pid
*.eml
*.iml
/dist/
.cache
.cache-main
.cache-tests
.classpath
.project
.idea/*
conf/evolutions/default/1.sql
.g8/
