.footer-row1 {
	background: #2c2c2c;
	color: #909090;
}

.footer-left {
	width: 280px;
}

.footer-left .qr {
	margin: 30px 0px 10px 0px;
	text-align: center
}

.footer-left .qr .about {
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
}

.footer-left .qr .qr-download .img-thumbnail {
	height: 150px;
	padding: 0px;
}

.footer-right {
	margin: 30px 0px 10px 0px;
	float: left;
	border-left: 1px solid #909090;
	width: 622px;
	height: 210px;
	margin: 20px 20px;
}

.right-title {
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	margin-top: 15px;
}

.right-content{
	text-align:left;
	font-size: 13px;
	line-height:26px;
	width:460px;
	margin-left: 80px;
}

.footer-right .down {
	margin-left: 80px;
}

.footer-right .down .advice {
	float: left;
	font-weight: bolder;
}

.footer-right .down .cooperation_shop {
	margin-left: 40px;
}

.footer-right .down .cooperation_shop .cooperation_div {
	float: left;
	padding-right: 15px;
	overflow: hidden;
}

.footer-right .down .cooperation_shop .cooperation_div :hover {
	color: red
}

.footer-right .down .helper {
	float: left;
	font-weight: bolder;
}

.footer-right .down .rontech .rontech_div {
	float: left;
	padding-left: 10px;
	overflow: hidden;
}

.footer-right .down .rontech .rontech_div :hover{
	color: red
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
	height: 5px;
}