body {  
    font-size: 12px;
    line-height: 1.5;
    font-family: Helvetica,Hiragino Sans GB,Microsoft Yahei,sans-serif;
    color: #5a5a5a;
}

.main-footer {
    border-top: 1px solid #ececec;
    background-color: #ffffff;
    height: 290px;
}

.main-footer .foot-nav .footer-app {
    float: left;
    width: 280px;
}

.main-footer .foot-nav .footer-app .qr {
    margin: 30px 0px 10px 0px;
}

.main-footer .foot-nav .footer-app .qr .qr-img {
    width: 125px;
    height: 125px;
    background-position: 0 0;
    float: left;
    margin-right: 20px;
}

.qr-ot button {
    width: 115px;
    height: 40px;
    padding: 0px;
    margin: 5px 0px;
}

.main-footer .foot-nav .footer-app .p {
    font-size: 28px;
}

.content-inner {
    width: 1190px; 
    margin: 0px auto;
}

.main-footer .foot-nav .footer-guide {
    float: left;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    width: 622px;
    height: 210px;
    margin: 20px 20px;
}

.guide-title {
    text-align:center;
    font-size:14px;
    line-height:40px;
    height:40px;
    margin-bottom:12px;
}

.guide-content{
    text-align:left;
    font-size: 13px;
    line-height:26px;
    width:460px;
    margin-left: 80px;
}

.guide-div {
    text-align:left;
    font-size: 12px;
    line-height:40px;
    width:460px;
    margin-left: 80px;
    margin-top: 7px;
}

a {
    color: #333;
    text-decoration: none;
}

.main-footer .foot-nav .footer-work {
    float: left;
    width: 246px;
}

.footer-div {
    text-align:left;
    font-size:14px;
    line-height:60px;
    height:60px;
    margin-left:40px;
    margin-top:10px;
}

.hz_div {
    line-height: 26px;
    height: 40px;
    margin-left: 40px;
}

.clear {
    clear: both;
    height: 5px;
    /* height: 0px;
    margin: 0;
    padding: 0;
    width: 0;
    border: none;
    overflow: hidden;
    font-size: 0;
    line-height: 0; */
}

.main-footer .foot-copyright {
    background-color: #333333;
    height: 40px;
    color: #ddd;
    line-height: 40px;
    text-align: center;
}

.main-footer .foot-copyright a {
    color: #ddd;
}

.main-footer .foot-copyright em {
    padding: 0px 6px;
    color: #555;
    font-size: 9px;
    font-style: normal;
}
 