
    <div class="row footer-row1">
      <div class="col-xs-5 col-md-5 col-sm-5">
        <div class="footer-left">
          <div class="qr">
            <p class="about">扫码下载APP</p>
            <div class="qr-download">
              <img src="http://static.manmanbuy.com/res/app_qr.jpg" class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-6 col-sm-6">
          <div class="footer-right">
            <div class="up">
              <p class="right-title">什么是可比价</p>
              <div class="right-content">
                可比价主要运用全新的搜索技术和强大的产品信息抓取技术，
                汇聚了互联网上几乎所有的产品相关信息，包括详细的产品参数，
                实时的产品报价，产品外观图片、遍及全国的经销商联系方式等丰富信息，
                同时以价格比较为鲜明特征，方便用户进行浏览与比较，为用户的购买决策提供有力参考。
              </div>
            </div>
            <div class="down">
              <p class="advice">参考商城：</p>
              <ul class="cooperation_shop">
                <li class="cooperation_div"><a href="https://www.jd.com/" target="_blank">京东</a>
                <li class="cooperation_div"><a href="https://www.tmall.com/" target="_blank">天猫</a></li>
                <li class="cooperation_div"><a href="https://www.suning.com/" target="_blank">苏宁</a></li>
                <li class="cooperation_div"><a href="https://www.amazon.cn/" target="_blank">亚马逊</a></li>
                <li class="cooperation_div"><a href="http://www.gome.com.cn/" target="_blank">国美</a></li>
                <li class="cooperation_div"><a href="https://www.kaola.com/" target="_blank">考拉</a></li>
                <li class="cooperation_div"><a href="http://www.yhd.com/" target="_blank">1号店</a></li>
                <li class="cooperation_div"><a href="http://www.vip.com/" target="_blank">唯品会</a></li>
              </ul>
              <div class="clear"></div>
              <p class="helper">技术支持：</p>
              <ul class="rontech">
                <li class="rontech_div"><a href="http://www.sz-rontech.com/" target="_blank">苏州隆泰信息有限公司</a>
              </ul>
            </div>
          </div>
      </div>
    </div>
  
