<body>
  <div class="main-footer">
    <div class="foot-nav">
      <div class="content-inner">
        <div class="footer-app">
          <div class="qr">
            <div class="qr-img">
                <img src="http://static.manmanbuy.com/res/app_qr.jpg" class="img-thumbnail" alt="">
            </div>
            <div class="qr-ot">
              <p>扫描下载可比价APP</p>
              <button type="button" class="btn btn-info">iPhone版下载</button>
              <button type="button" class="btn btn-success">Android版下载</button>
            </div>
          </div>
          <div class="p">全网比价 就选可比价</div>
        </div>
        <div class="footer-guide">
          <div class="guide-title">何为可比价</div>
          <div class="guide-content">
              可比价主要运用全新的搜索技术和强大的产品信息抓取技术，
              汇聚了互联网上几乎所有的产品相关信息，包括详细的产品参数，
              实时的产品报价，产品外观图片、遍及全国的经销商联系方式等丰富信息，
              同时以价格比较为鲜明特征，方便用户进行浏览与比较，为用户的购买决策提供有力参考。
          </div>
          <div class="guide-div">参考商城：
            <a href="https://www.jd.com/" target="_blank">京东</a>
            <a href="https://www.tmall.com/" target="_blank">天猫</a>
            <a href="https://www.suning.com/" target="_blank">苏宁</a>
            <a href="https://www.amazon.cn/" target="_blank">亚马逊</a>
            <a href="http://www.gome.com.cn/" target="_blank">国美</a>
            <a href="https://www.kaola.com/" target="_blank">考拉</a> 
            <a href="http://www.yhd.com/" target="_blank">1号店</a>
            <a href="http://www.vip.com/" target="_blank">唯品会</a>&nbsp;
            <a href="http://fanli.manmanbuy.com/">更多»</a>
          </div>
        </div>
        <div class="footer-work">
          <div class="footer-div">商务合作</div>
          <div class="hz_div"><a href="#" target="_blank">B2C商城入驻»</a></div>
          <div class="hz_div"><a href="#" target="_blank">比价API合作»</a></div>
          <div class="hz_div"><a href="#" target="_blank">电商活动报名»</a></div>
          <div class="hz_div"><a href="#" target="_blank">联系我们»</a></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="foot-copyright">
      <div class="content-inner">
        © 2017
        <a href=" ">可比价</a>版权所有 <em>|</em>
        <a href=" " target="_blank">关于我们</a> <em>|</em>
        <a href=" " target="_blank">Wap版</a> <em>|</em> 
        <a href=" ">可比价</a> <em>|</em>
        <a href=" ">全网评论</a> <em>|</em>
        <a href=" ">友情链接</a> <em>|</em>
        <a href=" ">品牌大全</a> <em>|</em>
        <a href=" ">最新商品</a> <em>|</em>
        <a href=" ">地图</a> <em>|</em>
        <a href=" " target="_blank">浙ICP备10201740号</a> <em>|</em> 
        浙公网安备33028202000163号
      </div>
    </div>
  </div>
</body>
