.top-row1 {
  /* background-color: #f3f2f3; */
  margin: 6px 20px 6px 20px;
}

.top-row2 {
  background-color: #ffffff;
  align-items:center;
  display:-webkit-flex;
  min-width: 974px;
}

.top-row2 > .col-sm-4 {
  padding-left: 50px;
}

.top-col8 span {
  color: aliceblue;
}

.top-col8 input {
  border: 1px solid #ea5252;
}

.top-col8 span {
  background-color: #ea5252;
}

.search {
  align-items:center;
  display:-webkit-flex;
  min-width: 465px;
}

.logo {
  padding-left: 50px;
  min-width: 170px;
}

.top-row22 {
  padding-top: 5px;
}

.top-row22 .list-inline {
  margin-bottom: 0px;
}

.top-row22 font {
  font-size: small;
}

.top-row22 a {
  font-size: small;
  color: #555;
	text-decoration: none;
	cursor: pointer;
}

.top-row22 a:hover {
  color: #ea5252;
}

.top-row3 {
  background-color: #ea5252;
  margin: 0px;
  min-width:1286px; 
}

.top-row3 a {
  color: antiquewhite;
  cursor: pointer;
}

.top-row3 li {
  width: 330px;
}

.top-row3 li a:hover {
  background-color: #f2313d;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #f2313d;
}

.top-nav {
  text-align: center;
}

.top-nav font {
  color: antiquewhite;
  font-size: large;
}

.top-col9 li {
  height: 40px;
  align-items: center;
  display: -webkit-flex;
  padding: 0px 20px 0px 20px;
  min-width: 130px;
}


