.top-row1 {
  /* background-color: #f3f2f3; */
  margin: 6px 20px 6px 20px;
}

.top-row2 {
  background-color: #ffffff;
  align-items:center;
	display:-webkit-flex;
}

.top-row2 > .col-sm-4 {
  padding-left: 50px;
}

.top-col8 span {
  color: aliceblue;
}

.top-col8 input {
  border: 1px solid #ea5252;
}

.top-col8 span {
  background-color: #ea5252;
}

.search {
  align-items:center;
	display:-webkit-flex;
}

.logo {
  padding-left: 50px;
}

.top-row22 {
  padding-top: 5px;
}

.top-row22 .list-inline {
  margin-bottom: 0px;
}

.top-row22 font {
  font-size: small;
}

.top-row22 a {
  font-size: small;
  color: #555;
	text-decoration: none;
	cursor: pointer;
}

.top-row22 a:hover {
  color: #ea5252;
}

.top-col3 {
  height: 40px;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
}

.top-col3 font{
  /* margin: 10px 50px 10px; */
  color: antiquewhite;
  font-size: large;
}

.top-col9 .list-inline{
  align-items: center;
  display: -webkit-flex;
  margin-bottom: 0px;
}

.top-col9 a {
  color: antiquewhite;
  font-size: 15px;
  cursor: pointer;
}

.top-col9 li {
  height: 40px;
  align-items: center;
  display: -webkit-flex;
  padding: 0px 20px 0px 20px;
  min-width: 130px;
}


