/*common*/
.container {
  /* margin: 0px 50px 0px 50px; */
  width: 100%;
  padding: 0px;
}

/*header st*/
.top-container {
  background-color: #f3f2f3;
}

.top-row1 {
  margin: 6px 20px 6px 20px;
}

.top-row2 {
  background-color: #ffffff;
  align-items:center;
  display:-webkit-flex;
  min-width: 974px;
  margin: 0px;
}

.top-row2 > .col-sm-4 {
  padding-left: 50px;
}

.top-col8 span {
  color: aliceblue;
  background-color: #ea5252;
  border-bottom: 2px solid #ea5252;
  border-top: 2px solid #ea5252;
  border-right: 2px solid #ea5252;
  cursor: pointer;
}

.top-col8 input {
  border: 1px solid #ea5252;
}

.search {
  align-items:center;
  display:-webkit-flex;
  min-width: 465px;
}

.logo {
  padding-left: 50px;
  min-width: 170px;
}

.top-row22 {
  padding-top: 5px;
}

.top-row22 .list-inline {
  margin-bottom: 0px;
}

.top-row22 font {
  font-size: small;
}

.top-row22 a {
  font-size: small;
  color: #555;
  text-decoration: none;
  cursor: pointer;
}

.top-row22 a:hover {
  color: #ea5252;
}

.top-row3 {
  background-color: #ea5252;
  margin: 0px;
  min-width:1286px;
}

.top-row3 a {
  color: antiquewhite;
  cursor: pointer;
}

.top-row3 li {
  width: 330px;
}

.top-row3 li a:hover {
  background-color: #f2313d;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #f2313d;
}

.top-nav {
  text-align: center;
}

.top-nav font {
  color: antiquewhite;
  font-size: large;
}

.top-col9 li {
  height: 40px;
  align-items: center;
  display: -webkit-flex;
  padding: 0px 20px 0px 20px;
  min-width: 130px;
}
/*header end*/

/*home st*/
.home-container {
  background-color: #f3f2f3;
}

.home-row {
  min-width: 1200px;
  margin-right: 15px;
}

.home-col26 {
  padding-left: 0px;
}

.home-row2 {
  padding: 0px 0px 0px 50px;
  min-width: 300px;
}

#menu, #menu ul, #menu li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.home-col3 {
  background-color: #ffffff;
  padding: 0px;
  width: 240px;
  margin-left: 0px;
}

#menu > li {
  position: relative;
}

#menu li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  cursor: pointer;
}

#menu i, #menu span {
  color: #555;
}

#menu > li > a:hover {
  background-color: rgb(221, 221, 221);
}

/* #menu > li > a:hover > div > span,  #menu > li > a:hover > div > i {
	color: rgba(28, 32, 241, 0.952);
} */

#menu li a:hover span, #menu li a:hover i  {
  color: #ea5252;
}

#menu > li > div {
  visibility: hidden;
  position: absolute;
  left: 255px;
  top: 0px;
  width: 400px;
  background-color: #ffffff;
}

#menu li div {
  overflow: hidden;
}

#menu > li:hover > div {
  visibility: visible;
}

.home-col34 {
  padding-left: 10px;
}

.home-row34 {
  position: absolute;
  z-index: 2;
}

.item img {
  width: 700px;
  height: 264px;
}

.home-row3 {
  margin: 30px 0px 0px -15px;
  padding: 0px;
}

.home-col9 {
  padding-left: 0px;
  min-width: 900px;
}
/*login-component st*/
.login-image .col-md-2 {
  max-width: 90px;
  min-width: 80px;
}

.login-image .col-md-1 {
  max-width: 39px;
  padding-left: 0px;
}

.login-image img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.col-md-1 {
  max-width: fit-content;
}

.login-sign {
  color: #fff;
  background-color: #f70;
  display: inline-block;
  width: 94px;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  font-size: 14px;
  transition: all 250ms linear;
  text-align: center;
  border: 1px solid #F70;
  margin: 0px 7px;
  min-width: 50px;
}

.login-img {
  width: 40px;
}

.login-integrals {
  display: inline-block;
  width: 94px;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  font-size: 14px;
  color: #F70;
  transition: all 250ms linear;
  text-align: center;
  border: 1px solid #F70;
  margin: 0px 7px;
}

.login-hello {
  font-size: 14px;
  color: #999;
}

.login-login {
  padding-top: 10px;
  min-width: 39px;
}

.login-register {
  padding-top: 10px;
  min-width: 39px;
}

.login-integral {
  list-style: none;
  padding-left: 15px;
  min-width: 25px;
}

.login-center {
  text-align: center;
  min-width: 20px;
}

.login-App {
  padding-left: 16px
}

.login-wx {
  padding-left: 10px
}

.login-bj {
  padding-left: 5px
}

.login-ul {
  list-style: none;padding-left: 0px
}

.login-all {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 12px;
  min-width: 10%;
  background-color: #ffffff;
  width: 230px;
  height: 264px;
  overflow: hidden;
}

.login-signs {
  padding-top: 10px;
}

.login-icon {
  padding-top: 25px
}

.login-row {
}

.login-min {
  min-width: 80px;
}

.login-concern {
  padding-top: 20px;
  color: red;
}

.login-border {
  padding-top: 20px;border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF #f1f1f1 #f1f1f1 #FFF;
  border-left: none
}

.login-concern-img {
  width: 80px;min-width: 80px;
}

.login-concern-imgs {
  padding-top: 20px;border-style: solid;    border-width: 1px;border-color: #FFFFFF #f1f1f1 #f1f1f1 #FFF;
}

.login-border-top {
  border-top: 1px solid #ececec;
}

.login-list {
  list-style: none
}
/*login-component end*/

/*product-component st*/
.product-row1 {
  margin-left: 0px;
}

.product-col9 {
  background-color: #ffffff;
  height: 38px;
  align-items:center;
  display:-webkit-flex;
}

.list-inline {
  margin: 0px;
}

.product-col9 font {
  padding: 0px 15px 0px 15px;
  font-size: larger;
}

.product-col9 li {
  padding-right: 30px;
  min-width: 48px;
}

.product-col9 a {
  color: #555;
  text-decoration: none;
  cursor: pointer;
}

.product-col9 a:hover {
  color: #ea5252;
}

.product-row2 {
  background-color: #ffffff;
  margin-left: 0px;
}

.product-row2 a:hover {
  cursor: pointer;
}

.product-spacer {
  background-color: #f3f2f3;
  height: 5px;
}

.product-comment a {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.product-comment a:hover {
  color: #ea5252;
}

.product-comment i {
  padding-right: 10px;
}

.product-title {
  padding-top: 10px;
}

.product-title a {
  color: rgba(0,0,0,.87);
  cursor: pointer;
}

.product-title a:hover {
  color: #ea5252;
}

.product-price {
  padding-top: 10px;
  color: #ea5252;
}

.product-platform {
  padding-top: 5px;
  color: #999;
}

.product-platform font {
  margin-bottom: 10px;
}

.product-image a {
  align-items:center;
  display:-webkit-flex;
  justify-content: center;
}

.product-sm3 {
  padding:0px 15px 0px 15px;
  width: 240px;
}
/*product-component end*/
/*home end*/

/*product-search st*/
.searchOption-nav {
  height: 40px;
  padding: 0px;
  margin-top: 10px;
}

.searchOption-row1 ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

.searchOption-row2 {
  margin: 0px;
  text-align: left;
  padding: 10px 0px 0px 0px;
  border-bottom: 1px dashed #ddd
}

.searchOption-row2 dl {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px

}

.searchOption-row2 dd {
  margin-left: 0px;
  padding-left: 0px;
}

.searchOption-row2 dt {
  width: 100px;
  text-align: left;
  margin-left: 10px;
}

.searchOption-row2 a:hover {
  color: #ea5252;
}

.searchOption-col10 {
  border: solid 1px #ddd;
}

.topNavigation {
  background-color: #f7f7f7;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  height: 44px;
}

.buttonGroup {
  float:left;
  margin-top: 11px;
}

.buttonGroup :hover {
  color: #ea5252;
}

.defaultSort {
  background-color:#5A5A5A;
  color:#fff
}

.searchProductPlace {
  margin-top: 5px;
  text-align: right;
  border: 1px solid #ddd;
}

.places {
  max-height: 26px;
  padding-top: 2px;
  border-radius: 0px;
}

.checkIfExist {
  max-height: 26px;
  padding-top: 3px;
}

.checkIfExist:hover {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

.productList {
  text-align: justify;
  margin-top: 2%;
}

.pageNavigation {
  background-color: #f7f7f7;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.priceRange {
  float: left;
  margin-top: 11px;
}

.rangeFrom {
  max-width: 42px;
  max-height: 20px;
}

.rangeTo {
  max-width: 42px;
  max-height: 20px;
}

.priceConfirm {
  max-height: 20px;
  font-size: small;
  padding-top: 0px;
}

.priceRange {
  margin-left: 20px;
}

.search-container {
  width: 1000px;
  padding-left: 0px;
  padding-right: 10px;
}

.col-md-3 {
  margin-bottom: 1%;
}

.card {
  border: 1px rgba(0,0,0,0.2) solid;
  transition: 0.3s;
  width: 240px;
  margin-bottom: 1%;
}

.card:hover {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

.item {
  padding: 15px 0 12px 0;
  position: relative;
}

.item .pic img {
  width: 207px;
  height: 207px;
  border: none;
  margin-top: -15px;
  margin-left: 15px;
}

.shopName img {
  width: 16px;
  height: 16px;
}

.item .price {
  font-size: 20px;
  font-family: Verdana;
  color: #ea5252;
  margin: 8px 10px 8px 10px;
  font-weight: 400;
}

.item .price em {
  font-style: normal;
  font-size: 14px;
}

.item .name {
  height: 40px;
  overflow: hidden;
  word-break: break-all;
  line-height: 20px;
  margin: 0 10px;
  color: #666;
  font-size: 12px;
}

.item .name a {
  color: #666;
}

.item .name a:hover {
  color: #ea5252 ;
}

.item .sales {
  margin: 8px 10px 12px 10px;
  color: #999;
  font-size: 11px;
}

.item .supplier {
  color: #999;
  font-size: 11px;
  float: right;
}

.item .sales span {
  color: #005AA0;
  font-weight: 700;
  margin: 0 2px;
}

.goodsExist {
  margin-left: 12px;
}

.pagination {
  margin-bottom: 0px;
  margin-top: 5px;
}

.tip {
  float: left;
  margin-top: 6.5px;
  margin-right: 10px;
}

.skip-text {
  max-width: 35px;
  min-height: 23px;
  margin-top: 4px;
  margin-left: 10px
}
/*product-search end*/

/*product-detail st*/
.main {
  margin: 20px 200px;
}

.head {
  width: 100%;
  text-align: left;
}

.head .main-title h1 {
  font-size: 20px;
  font-family: "Microsoft Yahei";
  font-weight: bold;
  margin: 0;
  padding: 0;
  white-space:nowrap;
}

.head .info {
  margin-top: 15px;
}

.head .main-title h1 span {
  color: #f27b04;
  font-size: 16px;
  font-weight: normal;
  line-height: 36px;
  display: block;
}

.head .info .pic {
  float: left;
  width: 330px;
  text-align: center;
}

.head .info .pic img{
  max-height: 220px;
  max-width: 220px;
}

.head .info .pic .btn {
  display: inline-block;
  background-color: #f6f6f6;
  color: #adadad;
  font-size: 15px;
  width: 75px;
  height: 35px;
  text-align: center;
  margin: 10px 3px;
}

.head .info .pic .btn.btn-share span {
  color:black
}

.head .info .pic .btn.btn-love span {
  color:red
}

.head .info .middle {
  text-align: left;
  display: inline-block;
  position: absolute;
  margin-left: 135px;
}

.head .info .middle .meta {
  margin: 10px auto;
  color: #999999;
}

.head .info .middle .meta span {
  color: #999999;
}

.head .info .middle .meta span i.iconfont {
  color: #c5cdcf;
  margin-right: 4px;
  vertical-align: -2px;
}

.head .info .middle .meta span a {
  margin-right: 4px;
  vertical-align: -2px;
}

.head .info .middle .meta a {
  text-decoration: none;
  margin-left: -5px;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin-right: 5px;
}

.head .info .middle .middle-info p {
  line-height: 30px;
  font-size: 14px;

}

.head .info .middle .link {
  margin-top: 16px;
}

.btn-link {
  display: inline-block;
  margin: 10px auto;
  width: 150px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  background-color: #f27b04;
  border-radius: 3px;
  text-decoration: none;
}

.btn-link:hover {
  background-color: #e0000e;
}

.head .info .middle .link .btn em {
  font-style: normal;
  font-family: "simsun";
  margin-left: 8px;
}

.head .info .middle .note {
  font-size: 14px;
  margin-top: 22px;
  white-space:nowrap;
}

.clear {
  clear: both;
}

.reason-title {
  font-size: 20px;
  font-family: "Microsoft Yahei";
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
}

.reason-main {
  font-size: 18px;
  margin-top: 8px;
  line-height: 30px;
  box-shadow: #f2f2f2 2px 3px 3px;
  padding: 20px 15px 30px 15px;
  border: 1px solid #f5f5f5;
  border-top: 1px solid #000;
  margin-bottom: 5%;
}

.reason-pic {
  text-align:center;
}

.reason-pic span {
  line-height:1.5;
}

.reason-foot {
  margin-top: 10%;
  text-align: center;
}

.comment {
  margin-top: 10px;
  color: #999;
}

.comment span {
  border-right: 0px solid #e6e6e6;
  margin-right: 16px;
  padding-right: inherit;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  background: url(http://nocache.zuyushop.com:8013/cuxiao/images/icon.gif) no-repeat;
  padding-left: 20px;
  font-size: 15px;
}

.customer {
  width: 50%;
  float: right;
  text-align: right;
}

.textareaArrow {
  width: 100%;
  float: left;
  height: 7px;
  overflow: hidden;
  background: url(http://nocache.zuyushop.com:8013/cuxiao/images/tjlyA1.gif) 90% top no-repeat;
  margin-top: 5px;
  position: relative;
}


.textareaArrow1 {
  width: 100%;
  height: 7px;
  overflow: hidden;
  background: url(http://nocache.zuyushop.com:8013/cuxiao/images/tjlyA1.gif) 95% top no-repeat;
  border-bottom: 1px #e8e8e8 solid;
}

.reason textarea {
  background: #f6f6f6;
  border: 1px solid #e8e8e8;
  width: 100%;
  margin-top: -1px;
  height: 100px;
  padding: 10px;
  font-size: 12px;
}

.good-bad {
  margin-top: 2%;
}

.good-bad .btn.btn-default.btn-lg .glyphicon.glyphicon-thumbs-up {
  color:red
}

.good-bad .btn.btn-default.btn-lg.thumbs-down {
  margin-left:10px
}

.reason-title {
  margin-bottom: 10px;
}

.reason-title .fbpl {
  float: left
}

.btn-comment {
  display: inline-block;
  margin: 10px auto;
  width: 150px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  background-color: #f27b04;
  border-radius: 3px;
}

.btn-comment:hover {
  background-color: #e0000e;
}

.comment-contain {
  text-align: left;
}

.comment-contain span {
  float: right;
  font-size: 16px;
  margin-top: 25px;
}

.comment-contain span font {
  color: #f27b04;
  font-weight: bold;
}


.reason .commentlist {
  margin-top: 10px;
}

.reason .commentlist ul li {
  padding-left: 50px;
}


.reason .commentlist ul li {
  margin-top: 12px;
  border-bottom: 1px dotted #e0e0e0;
  padding-bottom: 12px;
  overflow: hidden;
  width: 795px;
  margin-bottom: 2%;
}

.reason .commentlist .avatar {
  float: left;
  width: 80px;
}

.reason .commentlist .avatar img {
  width: 70px;
  height: 70px;
}

.reason .commentlist .words {
  float: left;
  width: 650px;
}

.reason .commentlist .words .meta {
  height: 26px;
  line-height: 26px;
  text-align: right;
}

.reason .commentlist .words .meta .name {
  float: left;
}

.reason .commentlist .words .meta .time {
  color: #999999;
  height: 26px;
  line-height: 26px;
  text-align: right;
}

.reason .commentlist .words .con {
  font-size: 14px;
  line-height: 26px;
}

.reason .commentlist .words .commentlistbtns {
  float: right;
  height: 26px;
  line-height: 26px;
}

.reason .commentlist .words .commentlistbtns a {
  color: #7783CB;
  margin-left: 10px;
}

.reason .commentlist .words .meta .name span {
  color: #f27b04;
  margin-left: 4px;
}
/*product-detail end*/

/*footer st*/
.footer-row1 {
  margin: 0px;
  background: #2c2c2c;
  color: #909090;
  min-width: 1200px;
}

.footer-left {
  width: 280px;
}

.footer-col5 {
  text-align: -webkit-center;
}

.footer-left .qr {
  margin: 30px 0px 10px 0px;
}

.footer-left .qr .about {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
}

.footer-left .qr .qr-download .img-thumbnail {
  height: 150px;
  padding: 0px;
}

.footer-right {
  margin: 30px 0px 10px 0px;
  float: left;
  border-left: 1px solid #909090;
  width: 622px;
  height: 210px;
  margin: 20px 20px;
}

.right-title {
  text-align: center;
  font-size: large;
  font-weight: normal;
  line-height: 1;
  margin-top: 15px;
}

.right-content{
  text-align:left;
  font-size: 13px;
  line-height:26px;
  width:460px;
  margin-left: 80px;
}

.footer-right .down {
  margin-left: 80px;
}

.footer-right .down .advice {
  float: left;
  font-weight: bolder;
}

.footer-right .down .cooperation_shop {
  margin-left: 40px;
}

.footer-right .down .cooperation_shop .cooperation_div {
  float: left;
  padding-right: 15px;
  overflow: hidden;
}

.footer-right .down .cooperation_shop .cooperation_div :hover {
  color: red
}

.footer-right .down .helper {
  float: left;
  font-weight: bolder;
}

.footer-right .down .rontech .rontech_div {
  float: left;
  padding-left: 10px;
  overflow: hidden;
}

.footer-right .down .rontech .rontech_div :hover{
  color: red
}

.footer-right .down .advice a {
  text-decoration: none;
}

.clear {
  clear: both;
  height: 5px;
}
/*footer end*/