.home-body {
	background-color: #f3f2f3;
	overflow-x: hidden;
}

.container {
	/* margin: 0px 50px 0px 50px; */
	width: 100%;
	/* padding: 0px;	 */
}

.home-row {
	min-width: 1200px;
	margin-right: 15px;
}

.home-col26 {
	padding-left: 0px;
}

.home-row2 {
	padding: 0px 0px 0px 50px;
	min-width: 300px;
}

#menu, #menu ul, #menu li {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.home-col3 {
	background-color: #ffffff;
	padding: 0px;
	width: 240px;
	margin-left: 0px;
}

#menu > li {
	position: relative;
}

#menu li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	cursor: pointer;
}

#menu i, #menu span {
	color: #555;
}

#menu > li > a:hover {
	background-color: rgb(221, 221, 221);
}

/* #menu > li > a:hover > div > span,  #menu > li > a:hover > div > i {
	color: rgba(28, 32, 241, 0.952);
} */

#menu li a:hover span, #menu li a:hover i  {
	color: #ea5252;
}

#menu > li > div {
	visibility: hidden;
	position: absolute;
	left: 255px;
	top: 0px;
	width: 400px;
	background-color: #ffffff;
}

#menu li div {
	overflow: hidden;
}

#menu > li:hover > div {
	visibility: visible;
}

.home-col34 {
	padding-left: 10px;
}

.home-row34 {
	position: absolute;
	z-index: 2;  
}

/* .carousel-control.left {
	background-image: linear-gradient(to right,#ffffff 0,#ffffff 100%);
	background-repeat: repeat-x;
}

.carousel-control.right {
	background-image: linear-gradient(to right,#ffffff 0,#ffffff 100%);
	background-repeat: repeat-x;
} */

#myCarousel {
	position:relative;
}

.item img {
	width: 700px;
	height: 264px;
}

.home-row3 {
	margin-top: 30px;
	padding: 0px;
}

.home-col9 {
	padding-right: 30px;
	min-width: 900px;
}