<div class="login-all">
  <div class="row login-image">
    <div class="col-md-2 col-xs-2 col-sm-2">
      <img src="http://bbs.manmanbuy.com/images/face/none.gif">
    </div>
    <div class="login-hello">HI, 欢迎来到可比价!</div>
    <div class="col-md-1 col-xs-1 col-sm-1 login-login">登录</div>
    <div class="col-md-1 col-xs-1 col-sm-1 login-register">注册</div>
  </div>
  <div class="login-concern">您最近关注的商品</div>
  <div class="row login-border-top">
    <div class="col-md-6 login-border">
      <img src="http://img10.360buyimg.com/n0/jfs/t1531/29/501435053/267248/16a16a0c/558a63fcNc8b1a857.jpg" class="login-concern-img">
      <li class="login-list">SUPER MILD 惠润...</li>
    </div>
    <div class="col-md-6 login-concern-imgs">
      <img src="http://www.yiteng365.com/photos/65317_6.jpg?" class="login-concern-img">
      <li class="login-list">SUPER MILD 惠润...</li>
    </div>
  </div>
</div>
