<div class="row">
  <div class="row col-sm-offset-1 searchOption-nav">
    <ol class="breadcrumb">
      <li><a href="#">可比价</a></li>
      <li class="active"><a href="#">搜索</a></li>
      <!-- <li class="active">Data</li> -->
    </ol>
  </div>

  <div class="col-sm-offset-1 col-sm-10 searchOption-col10">
  <div class="row searchOption-row1">
      <ul style="list-style: none"> 
          <li class="row searchOption-row2"> 
              <dl class="dl-horizontal row"> 
                <dt>上装：</dt> 
                <dd class="col-sm-1"><a href="#">全部</a></dd> 
                <dd class="col-sm-1"><a href="#">针织衫</a></dd> 
                <dd class="col-sm-1"><a href="#">毛呢外套</a></dd> 
                <dd class="col-sm-1"><a href="#">T恤</a></dd> 
              </dl> 
          </li> 
          <li class="row searchOption-row2"> 
              <dl class="dl-horizontal row"> 
                <dt>商城报价：</dt> 
                <dd class="col-sm-1"><a href="#">全部</a></dd> 
                <dd class="col-sm-1"><a href="#">京东</a></dd> 
                <dd class="col-sm-1"><a href="#">天猫</a></dd> 
                <dd class="col-sm-1"><a href="#">苏宁</a></dd> 
                <dd class="col-sm-1"><a href="#">亚马逊</a></dd> 
              </dl> 
          </li>
          <li class="row searchOption-row2"> 
              <dl class="dl-horizontal row"> 
                <dt>已选条件：</dt> 
                <dd>暂时没有选择过滤条件</dd> 
              </dl> 
          </li> 
      </ul> 
  </div>
  </div>
</div>

<div class="row">
  <app-search-product></app-search-product>
</div>