@import models.entities.KeySearch
@(list: List[KeySearch])

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/dist/css/bootstrap.min.css")">
</head>
<body>
  <div class="container">
    <div class="row col-xs-8 col-xs-offset-1">
      <table class="table">
        <tr>
          <th>id</th>
          <th>关键字</th>
          <th>搜索次数</th>
          <th>作成时间</th>
          <th>更新时间</th>
          <th>修改</th>
        </tr>
        @for(row <- list) {
          <tr>
            <th>@row.id</th>
            <th>@row.keyWord</th>
            <th>@row.searchCounts</th>
            <th>@row.createDate.format("dd - MM - yyyy")</th>
            <th>@row.updateDate.format("dd - MM - yyyy")</th>
            <th><button class="btn" onclick="location.href='@gui.routes.HomeController.editPage(row.id)'">修改</button></th>
          </tr>
        }
      </table>
    </div>
  </div>
</body>
</html>